<div class="about-wrapper">

  <p>Tiny is a lightweight app that promotes positive sharing in under 150 characters.</p>
  <div class="fun-fact">
    <p>Fun fact: </p>
    <p> Writing about positivity leads to better health </p>
    <p>A recent study examined a group of 90 students and split them into two groups. One group wrote about intensely positive experiences for three consecutive days, while the other wrote about a control topic. Scientists assessed the students after three months and found that those who wrote about positivity experienced less sickness than those who didn’t.</p>
    <p>Source: <a href="https://www.healthyplace.com/self-help/positivity/10-amazing-positivity-facts-to-improve-your-outlook" target="_blank">HealthyPlace</a></p>
  </div>

</div>


