<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tiny - where positivity radiates</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="grid-container">
    <div class="header">
      <a href="/"><h1>Tiny</h1></a>
    </div>
    
    <%= yield %>
    
    <footer>
      <p>&lt;/&gt; with <span class="emoji-heart">❤</span> and 🍜 - &copy; 2020 tkeeching</p>
      <p>Photo by Joanna Kosinska on Unsplash</p>
    </footer>
  </div>

</body>
</html>
