/* reset */
body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


/* layout */



/* index */
.post-entry {
  margin: 50px auto;
}


/* show */



/* new */



/* edit */




