/* reset */
body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


/* layout */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
}


/* index */
.post-entry {
  display: grid;
  grid-template-rows: 40px 80px 40px;
  width: 80%;
  justify-self: center;
}

.entry-header {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
}

.entry-content {
  display: grid;

}


/* show */



/* new */



/* edit */




