<h1>Create your account</h1>

<form action="/users" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="text" name="email" placeholder="Email">
  <input type="text" name="password" placeholder="Password">
  <input type="text" name="confirm_password" placeholder="Confirm password">
  <button>Submit</button>
</form>