<div class="new-post-wrapper">
    
<div class="new-post-nav">
  <a href="/"><span class="back-arrow">&lt;</span></a>
  <h3>Create new post</h3>
</div>

<form action="/users/<%= current_user["id"] %>/posts/new" method="post">
  <div class="input-wrapper">
    <img src="<%= current_user["avatar"] %>" width="24px" height="24px" alt="user-avatar">
    <%# <input type="text" name="content" placeholder="Whats on your mind?"> %>
    <textarea name="content" id="" cols="25" rows="6" placeholder="What's on your mind, <%= current_user["username"] %>?" required></textarea>
  </div>  
  <button>Post</button>
</form>

</div>