<div class="show-post-wrapper">

<div class="show-post-nav">
  <a href="/"><span class="back-arrow">&lt;</span></a>
  <h3>Your post</h3>
</div>

<div class="user-post-wrapper">
<% posts.each do |post| %>
  <div class="user-post-entry">
    <div class="user-entry-header">
      <p><%= post["date_created"] %></p>
    </div>
    <div class="user-entry-content">
      <p><%= post["content"] %></p>
    </div>
    <div class="user-entry-interact">
      <form action="/users/<%= current_user["id"] %>/posts" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="post_id" value="<%= post["id"] %>">
        <button>Delete post</button>
      </form>
    </div>
  </div>
<% end %>
</div>

</div>

